.spot-details {
    margin: auto;
    margin-top: 5rem;
    max-width: 1000px;
    margin-bottom: 2rem;
}

h1 {
    text-align: left;
    font-weight: 100;
    font-size: 2rem;
}


.reviews-container {
    width: 1000px;
    margin: auto;
    padding-top: 2rem;
    border-top: 1px solid rgba(211, 211, 211, 0.5)
}

.spot-info-container {
    display: flex;
    width: 100%;
    margin-top: 2rem;
    justify-content: space-between;
}

.reserve {
    border: 1px solid rgba(211, 211, 211, 0.5);
    border-radius: 1rem;
    box-shadow: 0.25rem 0.25rem 1rem rgb(211, 211, 211);
    padding: 2rem;
    width: 30%
}

.reserve-button {
    width: 100%;
}
.reserve-button:hover {
    cursor: pointer;
}

#price {
    font-weight: bold;
}

.price-reviews-container {
    display: flex;
    justify-content: space-between;
    margin-right: 0;
    align-items: center;
    width:100%;
    box-sizing: border-box;
}
.reserve-card {
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
}

