
.spot-management-container{
    width: fit-content;
}

.spots-management-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 2rem;
    margin: 5rem;
}

.manage-spots-header {
    margin-left: 5rem;
    margin-top: 6rem;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

