.review-content {
    border-bottom: 1px solid rgba(211, 211, 211, 0.5);
}
.all-spot-info-container {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template: 
        "a a b"  
        "c c c"  
        "c c c" ;
}

.reserve-container {
    grid-area: b;
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 1rem;
    width: 100%;
    border:rgba(211, 211, 211, 0.5);
    margin-bottom: 1rem;
    box-shadow: 0.5rem 0.5rem 2rem rgba(211, 211, 211);
}

.spot-info {
    grid-area: a;
    box-sizing: border-box;
}

.review-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.reviews-container {
    grid-area: c;
    box-sizing: border-box;
}

.small-button-container.review-display {
    justify-content: flex-start;
}

.edit-delete-button {
    margin: 0
}

.review-body-input {
    padding: 1rem;
    box-sizing: border-box;
}

.stars-container {
    margin-bottom: 1rem;;
}