.image {
  min-width: 15rem;
  height: 20rem;
  margin: 0;
}

.slide {
  opacity: 0;
}

.slide.selected {
  opacity: 1;
}

.slideshow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: fit-content;
}

.small-button-container {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    justify-content: center;
}