.spots-container {
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.grid-item {
    box-sizing: border-box;
    width: fit-content;
}

.image-container {
    height: 15rem;
    width: 15rem;
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
    border: 1px solid rgb(211, 211, 211);
}
.image-container img {
    object-fit: cover;
}

.spots-list {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.grid-item:hover {
    cursor: pointer;
}


.spot-location {
    font-weight: bold;
}

.spot-info-container {
    width: 15rem;
    box-sizing: border-box;
    padding: 0;
}
.star-rating {
    text-align: end;
}

.city-star-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.price {
    font-weight: bold;
}