.spots-container {
    margin-top: 5rem;
}

.grid-item {
    box-sizing: border-box;
    width: fit-content;
}

.image-container {
    height: 20rem;
    width: 20rem;
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
    border: 1px solid rgb(211, 211, 211);
}
.image-container img {
    object-fit: cover;
}

.spots-list {
    display: grid;
    grid-gap: 2rem;
    /* grid-template-columns: repeat(6, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.grid-item:hover {
    cursor: pointer;
}