.delete-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.delete-button {
    width: 100%;
}
 #dont-delete {
    background-color: gray !important;
    width: 100%;
 }