.form-container {
    width: 50rem;
    margin: auto;
    box-sizing: border-box;
}

.create-new-spot {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#location-header,
#location-subheader {
    width: 90%;
    box-sizing: border-box;
}

input {
    width: 90%;
}

label {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem;
}
.errors {
    color: red;
    padding: 0;
    margin: 0;
}

.city-state {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
}

.city,
.state {
    width: 100%;
}
.location-input {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

.description-section {
    padding: 2rem;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(211, 211, 211);
}

.form-subtitle {
    font-size: large;
}

textarea {
    width: 100%;
    margin: 0;
    height: 10rem;
    padding: 0;
}

.title-section {
    width: 100%;
    padding: 2rem;
    align-items: center;
    box-sizing: border-box;
    border-top: 1px solid rgb(211, 211, 211);
    border-bottom: 1px solid rgb(211, 211, 211);
}

#title-input {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

.price-section,
.location-section {
    width: 100%;
    box-sizing: border-box;
    padding: 2rem;
    border-top: 1px solid rgb(211, 211, 211);
    border-bottom: 1px solid rgb(211, 211, 211);
}

#price-input {
    width: 100%;
    box-sizing: border-box;
}

.photos-section {
    width: 100%;
    box-sizing: border-box;
    padding: 2rem;
    border-top: 1px solid rgb(211, 211, 211);
    border-bottom: 1px solid rgb(211, 211, 211);
} 
.photos-section input {
    margin: 1rem;
}

#address-label,
#country-label {
    display: flex;
    justify-content: flex-start;
    width: 90%;
}
