.hidden {
    display: none;
}

li {
    list-style-type: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    padding: 0.5rem;
}

ul {
    display: flex;
    border-bottom: 1px solid rgba(211, 211, 211, 0.5);
    width: 100%;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    height: 4.5rem;
    align-items: center;
    justify-content: space-between;
}

img {
    height: 1.25rem;
    margin-left: 1rem;
}
.logo {
    margin-left: 3rem;
}

button {
    margin: 1rem;
    margin-right: 3rem;
    background-color: #ff5a5f;
}