
li {
    list-style-type: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    padding: 0.5rem;
}

.logIn-signUp-container {
    border: 1px solid rgba(211, 211, 211, 0.5);
    border-radius: 0.25rem;
    position: absolute;
    top: 5rem;
    right: 3rem;
    padding: 1rem;
    background-color: white;
}

li#profile-button-container {
    height: 100%;
}

#nav-bar-container {
    display: flex;
    border-bottom: 1px solid rgba(211, 211, 211, 0.5);
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 10;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    height: 4.5rem;
    align-items: center;
    justify-content: space-between;
}

img {
    height: 1.25rem;
    margin-left: 1rem;
}
.logo {
    margin-left: 3rem;
}

.user-button {
    margin: 1rem;
    margin-right: 3rem;
    background-color: #ff5a5f;
}
button {
    background-color: #ff5a5f;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

button:disabled {
    background-color: gray;
}

.user-info-container {
    border: 1px solid rgba(211, 211, 211, 0.5);
    border-radius: 0.25rem;
    position: absolute;
    top: 4.5rem;
    right: 3rem;
    padding: 1rem;
    background-color: white;
}

.hidden {
    display: none;
}
