.login-container {
    margin: 2rem;
    width: 90%;
    margin: auto;
}

.submit-button {
    width: 100%;
    margin-top: 1rem;
}
#login-button {
    width: 100%;
    margin-top: 1rem;
}

#demo-user-button {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.input {
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.2rem;
   width: 100%;
}
#login-form {
    box-sizing: border-box;
    padding: 2rem;
    width: fit-content;
}

#modal-content {
    border-radius: 1rem;
    width: 30rem;
}
 .login-label {
    width: fit-content;
    margin: auto;
    padding: 1.5rem;
 }

 .errors {
    color: red;
 }

 .login-buttons-container {
    display: flex;
    flex-direction: column;
 }