.login-container {
    margin: 2rem;
    width: 90%;
    margin: auto;
}

.submit-button {
    width: 100%;
    margin-top: 1rem;
}

.input {
    margin-top: 1rem;
    margin-bottom: 1rem;
   width: 96%;
}

#modal-content {
    border-radius: 1rem;
    width: 30rem;
}
 .login-label {
    width: fit-content;
    margin: auto;
    padding: 1.5rem;
 }

 .errors {
    color: red;
 }